[submodule "fwdpy11/headers/fwdpp"]
	path = fwdpy11/headers/fwdpp
	url = https://github.com/molpopgen/fwdpp
[submodule "lib/rust/demes-forward-capi"]
	path = lib/rust/demes-forward-capi
	url = https://github.com/molpopgen/demes-forward-capi.git
