[submodule "fwdpy11/headers/fwdpp"]
	path = fwdpy11/headers/fwdpp
	url = https://github.com/molpopgen/fwdpp
[submodule "examples"]
	path = examples
	url = https://github.com/molpopgen/fwdpy11_examples
