language: generic

# We don't actually use the Travis Python, but this keeps it organized.
# The test matrix really uses the latest Miniconda for Py2 or Py3,
# and we're "fooling" Travis into doing this for us.
matrix:
    include:
    - os: linux
      dist: trusty
      env: TOXENV=2
    - os: linux
      dist: trusty
      env: TOXENV=3
    - os: osx 
      osx_image: xcode8.3
      env: TOXENV=3
    - os: osx 
      osx_image: xcode8.3
      env: TOXENV=2
    - os: osx
      osx_image: xcode8.2
      env: TOXENV=3
    - os: osx
      osx_image: xcode8.2
      env: TOXENV=2
    - os: osx 
      osx_image: xcode8.1
      env: TOXENV=3
    - os: osx 
      osx_image: xcode8.1
      env: TOXENV=2
    - os: osx
      osx_image: xcode8
      env: TOXENV=3
    - os: osx
      osx_image: xcode8
      env: TOXENV=2

sudo: true

notifications:
    email: false

install: 
    - if [ "$TRAVIS_OS_NAME" == "linux" ]; then if [ "$TOXENV" == "2" ]; then wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh; fi; fi;
    - if [ "$TRAVIS_OS_NAME" == "linux" -a "$TOXENV" == "3" ]; then wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh; fi
    - if [ "$TRAVIS_OS_NAME" == "osx" -a "$TOXENV" == "2" ]; then wget https://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh -O miniconda.sh; fi
    - if [ "$TRAVIS_OS_NAME" == "osx" -a "$TOXENV" == "3" ]; then wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh; fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a
    - if [ "$TRAVIS_OS_NAME" == "linux" ]; then conda install gcc; fi;
    - conda install -c r gsl
    - conda install numpy
    - conda install -c conda-forge pybind11
    - pip install --upgrade cppimport
script:
    - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export LD_LIBRARY_PATH=$HOME/miniconda/lib; fi;
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then export DYLD_FALLBACK_LIBRARY_PATH=$HOME/miniconda/lib; fi;
    - export CPPFLAGS="-I$HOME/miniconda/include $CPPFLAGS"
    - export LDFLAGS="-L$HOME/miniconda/lib $LDFLAGS"
    #fwdpp is included as a submodule,
    #so we need to initalize it here:
    - git submodule init
    - git submodule update
    - cc -v
    - c++ -v
    - gcc -v
    - python setup.py build_ext -i
