language: python

matrix:
    include:
    - os: linux
      dist: trusty
      env: USECONDA=1
    - os: linux
      dist: trusty
      python: 3.4
    - os: linux
      dist: trusty
      python: 3.5
    - os: linux
      dist: trusty
      python: 3.6
#    - os: osx 
#      osx_image: xcode8.3
#      env: OSXGCC=1 # Test build with conda's gcc on OS X
#    - os: osx 
#      osx_image: xcode8.3
#      env: OSXGCC=0 # 0 means clang/llvm build
#    - os: osx
#      osx_image: xcode8.2
#      env: OSXGCC=0
#    - os: osx 
#      osx_image: xcode8.1
#      env: OSXGCC=0
#    - os: osx
#      osx_image: xcode8
#      env: OSXGCC=0

sudo: true

notifications:
    email: false

install: 
    ./travis_scripts/installation_script.sh

script:
    ./travis_scripts/build_script.sh
