language: python

matrix:
    include:
    - os: linux
      dist: trusty
      env:
        - USECONDA=1
        - CC=gcc
        - CXX=g++
    - os: linux
      dist: trusty
      python: 3.5
      addons:
          apt_packages:
            - pandoc
      env:
        - CC=gcc
        - CXX=g++
    - os: linux
      dist: trusty
      python: 3.6
      addons:
          apt_packages:
            - pandoc
      env:
        - CC=gcc
        - CXX=g++

    - os: linux
      dist: trusty
      python: 3.5
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - pandoc
      env:
        - CC=gcc-6
        - CXX=g++-6

    - os: linux
      dist: trusty
      python: 3.6
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - pandoc
      env:
        - CC=gcc-6
        - CXX=g++-6

    - os: linux
      dist: trusty
      python: 3.6
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - pandoc
      env:
        - CC=gcc-8
        - CXX=g++-8
#    - os: osx 
#      osx_image: xcode8.3
#      env: OSXGCC=1 # Test build with conda's gcc on OS X
#    - os: osx 
#      osx_image: xcode8.3
#      env: OSXGCC=0 # 0 means clang/llvm build
#    - os: osx
#      osx_image: xcode8.2
#      env: OSXGCC=0
#    - os: osx 
#      osx_image: xcode8.1
#      env: OSXGCC=0
#    - os: osx
#      osx_image: xcode8
#      env: OSXGCC=0

sudo: true

notifications:
    email: false

install: 
    ./travis_scripts/installation_script.sh

script:
    ./travis_scripts/build_script.sh
