recursive-include fwdpy11 *.cpp *.hpp
recursive-include m4 *.m4
include COPYING
include configure
include setup.py.in
include doc/conf.py
include doc/conf.py.in
include doc/fwdpy11.doxygen
include doc/fwdpp.doxygen
include doc/Makefile
recursive-include doc *.rst
include aclocal.m4
recursive-include check_deps *
