recursive-include fwdpy11 *.cc *.hpp
recursive-include m4 *.m4
recursive-include tests *.cpp *.pyx *.py
recursive-include examples COPYING *.rst *.py Makefile *.cc *.R *.txt
include COPYING
include CMakeLists.txt
include fwdpy11/CMakeLists.txt
include tests/CMakeLists.txt
include tests/v045.bin
include tests/v045.lzma
include configure
include setup.py.in
include doc/conf.py
include doc/conf.py.in
include doc/fwdpy11.doxygen
include doc/fwdpp.doxygen
include doc/Makefile
recursive-include doc *.rst *.png
include aclocal.m4
recursive-include check_deps *
