name: Code formatting

on:
  pull_request:

jobs:
  ubuntu:
    name: Ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [ "3.13" ]
        os:  [ ubuntu-24.04 ]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install black
        run: |
          python -m pip install black=="24.10.0"
      - name: Validate code
        run: |
          find . -name '*.py'|grep -v headers|grep -v demes-spec|xargs python -m black --check


