name: UbuntuStressTest

on:
  pull_request:
  push:
    branches: [main, dev]

jobs:
  test:
    name: Ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [ 3.6, 3.7, 3.8 ]
        os:  [ ubuntu-20.04 ]
        compiler: [gcc, clang10]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ secrets.ACTIONS }}

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install apt dependencies
        run: |
            sudo apt install --fix-missing -y libgsl-dev cmake autoconf libboost-test-dev

      - name: Edit PATH
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Discover llvm-config
        run: |
          dpkg -S llvm-config

      - name: Set LLVM_CONFIG on 20.04
        if: matrix.os == 'ubuntu-20.04'
        run: |
            echo "LLVM_CONFIG=/usr/bin/llvm-config-10" >> $GITHUB_ENV

      - name: Set LLVM_CONFIG on 18.04
        if: matrix.os == 'ubuntu-18.04'
        run: |
            echo "LLVM_CONFIG=/usr/lib/llvm-9/bin/llvm-config" >> $GITHUB_ENV

      - name: Python version
        run: |
          python --version

      - name: Cache pip dependancies
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.local
          key: ${{ runner.os }}-${{ matrix.python }}-ubuntu-V3-${{ hashFiles('requirements.txt') }}

      - name: Install pip dependencies
        # if: steps.cache.outputs.cache-hit != 'true'
        run: |
            # These are needed to install black:
            python -m pip install --user --upgrade setuptools wheel
            python -m pip install --user -r requirements.txt
            # For sdist validation
            python -m pip install --user --upgrade twine

      - name: Set GCC as compiler
        if: matrix.compiler == 'gcc'
        run: |
          echo "CC=gcc" >> $GITHUB_ENV
          echo "CXX=g++" >> $GITHUB_ENV

      - name: Install clang-10
        if: matrix.compiler == 'clang10'
        run: |
          sudo apt-get install clang-10 clang++-10
          echo "CC=clang-10" >> $GITHUB_ENV
          echo "CXX=clang++-10" >> $GITHUB_ENV

      - name: Build and run C++ tests
        run: |
          cd cpptests
          autoreconf --install
          CC=$CC CXX=$CXX ./configure
          make check

      - name: Compile extension module
        run: |
            CXX=$CXX CC=$CC python setup.py build_ext -i

      - name: Run Python tests
        run: |
            python -m pytest -n 2 tests

      - name: Validate the sdist
        run: |
            python setup.py sdist
            python setup.py check
            python -m twine check dist/*.tar.gz

      - name: Test pip install from dist in fresh venv
        run: |
            python -m venv venv
            source venv/bin/activate
            pip install --upgrade setuptools pip wheel
            python -m pip install dist/*.tar.gz
            python -m fwdpy11 --includes
            python -c "import fwdpy11;print(fwdpy11.__version__)"

